.details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 3rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.detail {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 2rem;
}

.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.time {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.address {
    font-size: 1.5rem;
    color: gray;
    margin-top: 1rem;
}

.incident-count {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.last-updated-count {
    font-size: 2rem;
}